body {
	background-color: #333;
	color: #ccc;
	letter-spacing: 1px;
}
button {
	display: inline-block;
	margin-bottom: .6em;
	letter-spacing: 1px;
}
h1 {
	color: #e00;
	margin-bottom: 1em;
}
h2, h3, .lb {
	color: white;
}
.lb {
	font-size: 1.2em;
}
.form-control {
	border: none;
	background-color: #999;
	color: white;
}
#cargar {
	padding: 6px 12px;
	color: white;
}
#myform {
	display: inline-block;
}
a {
	color: #e00;
}
.btn {
	background-color: #e00;
	border: none;
}
.btn:link,
.btn:visited,
.btn:hover,
.btn:focus,
.btn:active {
	background-color: #600;
}
a:link,
a:visited,
a:hover,
a:focus,
a:active {
	background-color: #600;
}
.ventaja .puntos {
	text-align: center;
}