.campo {
	padding-top: .2em;	
	margin-bottom: .5em;
	border-bottom: solid lightgray 1px;
}
.ventaja {
	padding-top: .2em;	
	margin-bottom: .5em;
	display: block;
}
.lb {
	padding-right: 1em;
	text-transform: capitalize;
}
.punto {
	width: 1em;
	height: 1.3em;
	border: solid 1px black;
	border-radius: 100%;
	margin-right: .3em;
	display: inline-block;
	position: relative;
	top: -.2em;
	background-color: #999;
}
.ventaja .puntos {
	display: block !important;
	float: none; 
}
.temp {
	border-radius: 0;
}
.puntos {
	display: inline-block;
	float: right;
}