.campo {
	padding-top: .2em;	
	margin-bottom: .5em;
	border-bottom: solid gray 1px;
}
.lb {
	padding-right: 1em;
	text-transform: capitalize;
}
.punto {
	width: 1em;
	height: 1.3em;
	border: solid 1px black;
	border-radius: 100%;
	margin-right: .3em;
	display: inline-block;
	position: relative;
	top: -.2em;
}
.puntos {
	display: inline-block;
	float: right;
}